*{
    margin: 0;
    padding: 0;
  }  

.swiper-slide {
    width: 100vw;
    margin-top: 0, 5rem;
    height: 73.4vh !important;
}

.sw {
    width: 100%;
    height: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
}

.sw.swiper_main_1 {
    /* background-image: url('../images/main_swiper_1.jpeg'); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 10rem;
}

.sw.swiper_main_2 {
    background-image: url('../images/main_swiper_2.jpg');
}

.sw.swiper_main_3 {
    background-image: url('../images/main_swiper_3.png');
}

.sw.swiper_main_4 {
    background-image: url('../images/main_swiper_4.jpg');
}

.sw.swiper_main_1 h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(50, 72, 114);
    max-width: 500px;
}

.sw.swiper_main_1 h5 {
    margin-bottom: 20px;
}

.intro_main{
    max-width: 500px;
    text-align: center;
    padding-bottom: 20px;
}

.sw.swiper_main_1 .reservation_link > Button {
    width: 13rem;
    height: 4rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
}


@media screen and (max-width: 910px) {
    .sw.swiper_main_1 {
        padding-left: 0px;
    }
  }