.mySwiper {
    padding: 50px 0;
    width: 100%;
    background-color: rgb(220, 232, 232);
}


.mySwiper img {
    border: 1px solid black;
    border-radius: 12px;
    max-width: 95%;
    background-size:cover;
    margin: 5px;
} 
